<header class="site-header">
  <nav class="content site-header__content">
    <section class="site-header__item-group">
      <a href="." class="site-header__item site-header__item--link">Parkour Club</a>
    </section>
    <section class="site-header__item-group site-header__item-group--desktop">
      {% for item in header_items %}
      <a href="{{ item.url }}" class="site-header__item site-header__item--link">{{ item.label }}</a>
      {% endfor %}
    </section>
    <section class="site-header__item-group site-header__item-group--mobile js-dropdown">
      <button class="site-header__item js-dropdown__button">≡</button>
      {% for item in header_items %}
      <a href="{{ item.url }}" class="site-header__item site-header__item--link js-dropdown__item" hidden>{{ item.label }}</a>
      {% endfor %}
    </section>
  </nav>
</header>
