<footer class="site-footer">
  <div class="content site-footer__content">
    <div class="site-footer__logos">
      <a href="{{ pages.home.url }}"><img class="site-footer__logo site-footer__logo--teamucl" src="/img/logo.webp" alt="The UCL Parkour Club logo."></a>
      <a href="{{ club.union_page_url }}"><img class="site-footer__logo" src="/img/union-logo.webp" alt="The Students' Union UCL Logo."></a>
    </div>
    <hr class="site-footer__hr">
    <p>Copyright © 2025 Students' Union UCL Parkour Club. All rights reserved.</p>
  </div>
</footer>
