{% extends "base/_base.html" %}

{% block page_heading %}Meet the committee!{% endblock %}

{% block main_content %}
<section class="section">
  <div class="content">
    <h2 class="section__heading">About</h2>
    <p class="section__body-text">The committee are the group of people responsible for running Parkour Club. You can find us at any of our sessions!</p>
  </div>
</section>
{% for member in committee_members %}
{% set color_class = loop.cycle('section--color-alternate', '') %}
<section class="section {{ color_class }}">
  <div class="content">
    <h2 class="section__heading">{{ member.role }}: {{ member.name }}</h2>
    <p class="section__body-text">{{ member.course }}</p>
    <p class="section__body-text">Fun fact: "{{ member.fun_fact }}"</p>
  </div>
</section>
{% endfor %}
{% endblock %}
