{% extends "base/_base.html" %}

{% block page_heading %}Contact us{% endblock %}

{% block main_content %}
<section class="section">
	<div class="content">
		<h2 class="section__heading">WhatsApp community</h2>
		<p class="section__body-text">Join our
			<a href="{{ club.whatsapp_url }}" class="link">WhatsApp community</a>
			for our most up-to-date communications, and to chat and connect with fellow members and the committee!</p>
		<p class="section__body-text">This is our primary channel for communicating updates during sessions and socials, so we highly recommend joining!</p>
	</div>
</section>
<section class="section">
	<div class="content">
		<h2 class="section__heading">Instagram</h2>
		<p class="section__body-text">Follow us
			<a href="{{ club.instagram_url }}" class="link">{{ club.instagram_tag }}</a>
			for session summary and special event posts. You can also DM us with any queries you may have!</p>
	</div>
</section>
<section class="section">
	<div class="content">
		<h2 class="section__heading">In person!</h2>
		<p class="section__body-text">The best way to contact us is to join us at one of our sessions!</p>
		<p class="section__body-text">You can find out where and when our next session is and get a free Taster membership from our
			<a href="{{ club.union_page_url }}">Union page</a>!</p>
	</div>
</section>
<section class="section">
	<div class="content">
		<h2 class="section__heading">Email</h2>
		<p class="section__body-text">We recommend trying one of the above methods first, but you can email us at
			<a href="mailto:{{ club.email_address }}" class="link">{{ club.email_address }}</a>.</p>
		<p class="section__body-text">You may want to contact us by email if we need to verify your identity to handle your query.</p>
	</div>
</section>
{% endblock %}
