{% extends "base/_base.html" %}

{% block page_heading %}Contact us{% endblock %}

{% block main_content %}
<section class="section">
  <div class="content">
    <h2 class="section__heading">WhatsApp Community</h2>
    <p class="section__body-text">Join our
      <a href="https://chat.whatsapp.com/F2tSCH3QVvs52Ydlr93Lw4" target="_blank">WhatsApp community</a>
      for our most up-to-date communications, and to chat and connect with fellow members and the committee!</p>
    <p class="section__body-text">This is our primary channel for communicating updates during sessions and socials, so we highly recommend joining!</p>
  </div>
</section>
<section class="section section--color-alternate">
  <div class="content">
    <h2 class="section__heading">Instagram</h2>
    <p class="section__body-text">Follow us
      <a href="https://www.instagram.com/uclparkour" target="_blank">@uclparkour</a>
      for session summary and special event posts. You can also DM us with any queries you may have!</p>
  </div>
</section>
<section class="section">
  <div class="content">
    <h2 class="section__heading">Email</h2>
    <p class="section__body-text">You can email us at
      <a href="mailto:su-parkour.club@ucl.ac.uk">su-parkour.club@ucl.ac.uk</a>.</p>
  </div>
</section>
{% endblock %}
