{% extends "base/_base.html" %} {% block page_heading %}Elections{% endblock %}
{% block main_content %}
<section class="section">
  <div class="content">
    <h2 class="section__heading">About</h2>
    <p class="section__body-text">
      The 2025 Term 1 By-Election is coming up! This is your chance to join the
      <a href="{{ pages.committee.url }}" class="link">committee</a> and help
      run the club!
    </p>
    <p class="section__body-text">
      Becoming a committee member gives you more say in the running of the club,
      and empowers us to improve the club with your input. Also, it's a great
      way to develop your leadership and organisation skills, and looks great as
      a distinguishing feature on your CV! :)
    </p>
  </div>
</section>
<section class="section">
  <div class="content">
    <h2 class="section__heading">Nominations</h2>
    <p class="section__body-text">
      Nominations open Wednesday 29th October at 12pm, and close Wednesday 12th
      November at 12pm.
    </p>
    <p class="section__body-text">
      There are 3 roles open for nominations (see below). You can
      <a
        href="https://studentsunionucl.org/election/club-society-term-1-by-election-2025"
        class="link"
        >nominate yourself</a
      >
      for as many roles as you like.
    </p>
    <p class="section__body-text">
      You need to have held a paid membership with us for 28 days before you can
      nominate yourself. If you will not have met this requirement at any point
      during the nomination window (ie. you bought your membership after October
      12th), you can
      <a
        href="https://studentsunionucl.org/forms/club-and-society-elections-28-day-exception-request"
        class="link"
        >request an exception</a
      >.
    </p>
  </div>
</section>
<section class="section">
  <div class="content">
    <h2 class="section__heading">Open positions</h2>
    <p class="section__body-text">
      The following positions will be open for nominations:
    </p>
    <ul>
      <li>
        <strong>Training Officer</strong>—responsible for communicating with our
        coaches and organising sessions!
      </li>
      <li>
        <strong>Welfare Officer</strong>—main contact for members with welfare
        concerns. Responsible for our engagement in the TeamUCL Against Hate
        campaign!
      </li>
      <li>
        <strong>Events Officer</strong>—responsible for organising trips,
        socials, and collabs with other groups!
      </li>
    </ul>
    <p class="section__body-text">
      No matter the role, you will be supported by your fellow committee members
      so that we can all do our very best for the benefit of the club!
    </p>
  </div>
</section>
<section class="section">
  <div class="content">
    <h2 class="section__heading">Voting</h2>
    <p class="section__body-text">
      Voting opens Monday 17th November at 12pm, and closes Friday 21st November
      at 12pm.
    </p>
    <p class="section__body-text">
      You need to have held a paid membership with us for 28 days before you can
      vote.
    </p>
  </div>
</section>
{% endblock %}
