{% extends "base/_base.html" %}

{% block page_heading %}Welcome Fair{% endblock %}

{% block main_content %}
<section class="section">
	<div class="content">
		<h2 class="section__heading">Welcome</h2>
		<p class="section__body-text">Thank you so much for coming to see us at one of our Welcome Fair stalls! This page contains information on how you can get involved with our Welcome events and beyond—please have a read!</p>
	</div>
</section>
<section class="section">
	<div class="content">
		<h2 class="section__heading">Stay updated!</h2>
		<p class="section__body-text">Most importantly, be sure to join our
			<a href="{{ club.whatsapp_url }}">Whatsapp community</a>!
			This is where we post the most up-to-date information regarding our sessions and what we're up to. It's also the easiest way to connect with your fellow members outside of sessions!</p>
		<p class="section__body-text">Follow us on Instagram
			<a href="{{ club.instagram_url }}">{{ club.instagram_tag }}</a>
			for session videos and more!</p>
	</div>
</section>
<section class="section">
	<div class="content">
		<h2 class="section__heading">Taster sessions</h2>
		<p class="section__body-text">This year, we are running five completely free Taster sessions:
			<ul>
				<li>Wed 24th Sep, 4-6pm (Outdoors)</li>
				<li>Wed 1st Oct, 3-5pm (Outdoors)</li>
				<li>Sat 4th Oct, 3-5pm (Indoors)</li>
				<li>Wed 8th Oct, 3-5pm (Outdoors)</li>
				<li>Sat 11th Oct, 3-5pm (Indoors)</li>
			</ul></p>
		<p class="section__body-text">Book a free ticket on our
			<a href="{{ club.union_page_url }}/events">Union page</a>!</p>
		<p class="section__body-text">Our outdoor sessions are led by our lead coach Jacob, while our indoor sessions are led by volunteer coaches and experienced members of the club!
			<strong>We strongly recommend attending at least one outdoor Taster session.</strong></p>
		<p class="section__body-text">Our Tasters are suitable for everyone, including complete beginners to parkour. You are not expected to have any experience and you will be taught everything you need to know!</p>
		<p class="section__body-text">There will be a social at the end of each session where we'll get food together and chat!</p>
		<p class="section__body-text"><strong>Note:</strong>
		If tickets are sold out for the day you want, and you can't make any of the other sessions, please click the "Notify me" button to be notified in case more tickets become available!</p>
	</div>
</section>
{% endblock %}
