<header class="site-header">
  <nav class="content site-header__content">
    <section class="site-header__item-group">
      <a href="." class="site-header__item">UCL Parkour Club</a>
    </section>
    <section class="site-header__item-group">
      <a href="." class="site-header__item">Skills</a>
      <a href="." class="site-header__item">Spot map</a>
      <a href="." class="site-header__item">Gallery</a>
      <a href="." class="site-header__item">Committee</a>
      <a href="." class="site-header__item">Contact us</a>
    </section>
  </nav>
</header>
