{% extends "base/_base.html" %}

{% block title %}Home{% endblock %}
{% block page_headings_group %}
<p class="page-header__text page-header__text--supplementary">Students' Union UCL</p>
{{ super() }}
{% endblock %}

{% block page_heading %}Parkour Club{% endblock %}

{% block main_content %}
<section class="section">
  <div class="content">
    <h2 class="section__heading">Welcome to Parkour Club!</h2>
    <p class="section__body-text">This is some body text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nisi doloremque mollitia? Unde, placeat inventore. Vel, corporis odio consequatur obcaecati laboriosam alias labore eum laborum voluptates mollitia soluta itaque ex?</p>
  </div>
</section>
<section class="section">
  <div class="content">
    <h2 class="section__heading">This is another section</h2>
    <p class="section__body-text">This is some more body text! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe totam molestias sit aliquid nostrum modi! In soluta ratione vel numquam quae odio modi aut asperiores quam, veniam eligendi alias illo.</p>
    <p class="section__body-text">This is another paragraph in the same section! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe totam molestias sit aliquid nostrum modi! In soluta ratione vel numquam quae odio modi aut asperiores quam, veniam eligendi alias illo.</p>
  </div>
</section>
{% endblock %}
